<div class="page-header clear-filter" filter-color="orange">
    <div class="page-header-image rellax-header" data-rellax-speed="-7"
         style="background-image: url('assets/img/header.jpg');">

    </div>
    <div class="container">
        <div class="content-center brand">
            <img alt="" class="n-logo" src="assets/img/now-logo.png">
            <h1 class="h1-seo"><span class="h1-sinhala">ùKdù</span>.com</h1>
            <h3>tabs, chords and lyrics: altogether...</h3>
        </div>
        <!--<h6 class="category category-absolute">Designed by
            <a href="https://invisionapp.com/" target="_blank">
                <img src="assets/img/invision-white-slim.png" class="invision-logo" />
            </a>. Coded by
            <a href="https://www.creative-tim.com" target="_blank">
                <img src="assets/img/creative-tim-white-slim2.png" class="creative-tim-logo" />
            </a>.</h6>-->
    </div>
</div>

<div class="main">
    <div class="section section-songs-browse">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                </div>
            </div>
        </div>
    </div>
</div>
