<app-navbar></app-navbar>
<div class="wrapper">
    <router-outlet></router-outlet>
    <div class="push"></div>
</div>
<footer class="footer footer-default">
    <div class="container">
        <nav>
            <ul>
                <li>
                    <a href="https://kanchana.senadheera.net">
                        Kanchana Senadheera
                    </a>
                </li>
                <li>
                    <a href="https://kanchana.senadheera.net/about">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="https://kanchana.senadheera.net">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="https://github.com/veenaavee-fe/blob/master/LICENSE.md">
                        MIT License
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright">
            &copy;
            {{data | date: 'yyyy'}},
            <a href="https://kanchana.senadheera.net" target="_blank">KaZE2 Inc.</a>.
        </div>
    </div>
</footer>